.card-container {
  display: flex;
  align-content: space-between;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center; 
  padding: 20px
};

h1 {
  text-align: center;
}

 p {
  text-align: center;
  justify-content: center; 
 }

//  button {
//     padding: 3px 10px;
//     font-size: 12px;
//     border-radius: 3px;
//     border: 1px solid #0088cc
//     ;
//   }

  body {
    background-color: #c6ecc6
  }

  .this {
    background-color: #dfbf9f;
  }

